PGHOST=localhost
PGPORT=5439
PGUSER=bi_user
PGPASSWORD=bi_pass
PGDATABASE=bi_db

METABASE_URL=http://localhost:3001
SUPERSET_URL=http://localhost:8098
SUPERSET_ADMIN_USER=admin
SUPERSET_ADMIN_PASSWORD=admin
