JUPYTER_URL=http://localhost:8891
JUPYTER_TOKEN=week10
MLFLOW_TRACKING_URI=http://localhost:5500
MLFLOW_S3_ENDPOINT_URL=http://localhost:9000
AWS_ACCESS_KEY_ID=minio_admin
AWS_SECRET_ACCESS_KEY=minio_password
