PGHOST=localhost
PGPORT=5441
PGUSER=ai_user
PGPASSWORD=ai_pass
PGDATABASE=ai_db

OLLAMA_URL=http://localhost:11434
OLLAMA_CHAT_MODEL=llama3.2:1b
OLLAMA_EMBED_MODEL=nomic-embed-text

QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION=course_chunks
